.category {
    background-color: #0250b0;
    color: white;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
}


img {
    height: 300px;
    margin: 0 auto;
}

.carousel-bg {
    background-color: aliceblue;
}

.paragraph-space {
    margin: 20px;
}